<section class="
    work-grid
    work-grid--tablet-rows-{{page.tabletRows}}
    ">
    <project-card
        *ngFor="let project of page.work"
        [project]="project"
        [style.gridRowEnd]="'span '+project.weight"
        (click)="selectProject(project)"
    ></project-card>

    <!-- PERSONAL PROJECTS -->
    <div
        *ngIf="page.personal.length > 0"
        class="work-grid-separator bg-acc-primary fg-inverse"
        style="grid-row-end: span 2;">
        <h5>
            Internal Projects
        </h5>
    </div>

    <project-card
        *ngFor="let project of page.personal"
        [project]="project"
        [style.gridRowEnd]="'span '+project.weight"
        (click)="selectProject(project)"
    ></project-card>

    <!-- OTHER PROJECTS -->
    <div
        *ngIf="page.other.length > 0"
        class="work-grid-separator bg-acc-primary fg-inverse"
        style="grid-row-end: span 2;">
        <h5>
            Other Projects
        </h5>
    </div>

    <project-card
        *ngFor="let project of page.other"
        [project]="project"
        [style.gridRowEnd]="'span '+project.weight"
        (click)="selectProject(project)"
    ></project-card>

</section>
