a
  font-size: 22px
  text-decoration: none
  display: flex
  align-items: center
  span
    display: none

a.page-link-active
  span
    margin-left: 0.6em
    display: inline-block

img
  height: 1.4em
