/////////////////////////////////////////////////////////////////////////////
//          This section handles the form styling used in the app          //
/////////////////////////////////////////////////////////////////////////////

form
  div[role='group']
    display: flex
    align-items: stretch

  div[role='group'] > *
    flex: 1
