/***************************************************************************/
/*   All the classes required by the application which will impart color   */
/***************************************************************************/

$danger-color = red

for name, color in $bg-colors
  .bg-{name}
    background-color: color

for name, color in $fg-colors
  .fg-{name}
    color: color

  .bdr-{name}
    border-color: color

  .fill-{name}
    fill: color

for name, color in $accent-colors
  .bg-acc-{name}
    background-color: color

  .fg-acc-{name}
    color: color

  .bdr-acc-{name}
    border-color: color

  .fill-acc-{name}
    fill: color

.bg-danger
  background-color: $danger-color

.fg-danger
  color: $danger-color

.bdr-danger
  border-color: $danger-color

.bdr-empty
  border-color: transparent

/* Now we set some very basic colors */
body
  @extend .bg-primary;
  @extend .fg-primary;


a
  @extend .fg-acc-primary;
  // TODO: add hover and other effects

h1,h2
  @extend .fg-acc-primary;

button
  @extend .fg-primary

.button
  @extend .fg-acc-primary
  @extend .bdr-acc-primary

.button:hover, .button:active
  @extend .bg-acc-primary
  @extend .fg-inverse

input,
textarea
  @extend .fg-primary
  @extend .bdr-primary

input:focus,
textarea:focus
  @extend .fg-acc-primary
  @extend .bdr-acc-primary

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid
  @extend .bdr-danger

.work-grid-separator::after
  @extend .bdr-acc-primary


// Working with menu icons and links

$subdued-color = lightness($fg-colors.primary, 50%);

.svg-active-acc,
.svg-active-acc:hover
  svg .shadable-fill
    @extend .fill-acc-primary

.svg-color-subdued
  svg .shadable-fill
    fill: $subdued-color

.svg-color-primary-on-hover:hover,
.svg-color-primary-on-hover:focus,
.svg-color-primary-on-active:active
  outline: 0
  svg .shadable-fill
    @extend .fill-primary

.text-color-subdued
  color: $subdued-color

.text-color-primary-on-hover:hover,
.text-color-primary-on-hover:focus,
.text-color-primary-on-active:active
  outline: 0
  @extend .fg-primary
