/***************************************************************************/
/*   All the classes required by the application which will impart color   */
/***************************************************************************/

/* TODO */

for name, color in $bg-colors
  .bg-{name}
    background-color: color

for name, color in $fg-colors
  .fg-{name}
    color: color

  .bdr-{name}
    border-color: color

for name, color in $accent-colors
  .bg-acc-{name}
    background-color: color

  .bdr-acc-{name}
    border-color: color
