/***************************************************************************/
/*                             Some basic Utils                            */
/* We only add mixins and functions here                                   */
/***************************************************************************/

// We define some min widths for media queries
  // Mobile: 0
// Phablet: 400px
// Tablet: 550px
// Desktop: 750px
// DesktopHD: 1000px
// Above and beyond: 1200px


respond-to(n)
  @media screen and (min-width: n)
    {block}

// Because for some damn reason, we can't pass around blocks
on-phablet()
  @media screen and (min-width: 400px)
    {block}

on-tablet()
  @media screen and (min-width: 550px)
    {block}

on-desktop()
  @media screen and (min-width: 750px)
    {block}

on-desktopHd()
  @media screen and (min-width: 1000px)
    {block}

on-desktopUHd()
  @media screen and (min-width: 1200px)
    {block}


// Some reverse media queries
till-desktop()
  @media screen and (max-width: 749px)
    {block}

till-tablet()
  @media screen and (max-width: 549px)
    {block}


// some sitewide fixed layout variables


$navHeight-mobile = 5rem
$navHeight-tablet = 10rem
