/***************************************************************************/
/*                             Site wide styles                            */
/***************************************************************************/

@require "./_fonts.css"

*
  box-sizing: border-box;

html
  height: 100%

body
  height: 100%
  padding: 1em
  padding-bottom: calc(100px + 1em) // On account of the navigation item
  font-family: Saira
  font-weight: 400

h1
  font-family: Headache

a.button,
button
  border-radius: 2px
  border: 1px solid
  background: transparent
  padding: 5px 25px


ul.horizontal-flat-list
  list-style-type: none
  padding-left: 0
  li
    display: inline-block
    margin-right: 30px;
