/***************************************************************************/
/*                             Site wide styles                            */
/***************************************************************************/

@require "./_fonts.css"

*
  box-sizing: border-box;

html
  height: 100%

body
  height: 100%
  padding: 1em
  font-family: Saira
  font-weight: 400
