/***************************************************************************/
/*                             Site wide styles                            */
/***************************************************************************/

@require "./normalize.css"
@require "./_colors"

*
  box-sizing: border-box;

html
  height: 100%

body
  height: 100%
  padding: 1em
  background-color: $color-bg
  color: $color-fg
