@require "~styles/_utils"
main
  width: 100%

.projects-container
  height: 350px
  height: 60vh
  position: relative;

.work-grid-container
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  +on-desktop-up()
    max-height: 60rem

project-details
  position: absolute
  left: 0
  top: 0
  height: 100%
  width: 100%
