<div class="centered-container">
    <main>
        <h2>MY WORK</h2>
        <!-- TODO: pagination -->
        <div class="projects-container">

            <div class="work-grid-container">
                <section class="work-grid">
                    <project-card
                        *ngFor="let item of workProjects"
                        [project]="item.project"
                        [style.gridRowEnd]="'span '+item.weight"
                        (click)="showDetails(item.project)"
                    ></project-card>

                    <!-- PERSONAL PROJECTS -->
                    <div
                        *ngIf="personalProjects.length > 0"
                        class="work-grid-separator bg-acc-primary fg-inverse"
                        style="grid-row-end: span 2;">
                        <h5>
                            Internal Projects
                        </h5>
                    </div>

                    <project-card
                        *ngFor="let item of personalProjects"
                        [project]="item.project"
                        [style.gridRowEnd]="'span '+item.weight"
                        (click)="showDetails(item.project)"
                    ></project-card>

                    <!-- OTHER PROJECTS -->
                    <div
                        *ngIf="otherProjects.length > 0"
                        class="work-grid-separator bg-acc-primary fg-inverse"
                        style="grid-row-end: span 2;">
                        <h5>
                            Other Projects
                        </h5>
                    </div>

                    <project-card
                        *ngFor="let item of otherProjects"
                        [project]="item.project"
                        [style.gridRowEnd]="'span '+item.weight"
                        (click)="showDetails(item.project)"
                    ></project-card>

                </section>
                <section style="text-align: center; flex-shrink: 1">
                    <button>Navigation</button>
                </section>
            </div>

            <project-details
                *ngIf="detailView"
                [project]="selectedProject"
                (close)="closeDetails()"
            ></project-details>
        </div>
    </main>
</div>
