<nav class="bg-light">
    <ul class="navigation--pages horizontal-flat-list"
        [class.navigation--quick-links-toggle-on]="mShowQuickLinks"
    >
        <li *ngFor="let page of pages">
            <a id="page-nav-link-{{page.id}}" routerLink="{{page.target}}" routerLinkActive="page-link-active svg-active-acc">
                <div class="icon" [innerHTML]="page.img">
                </div>

                <span>{{page.name}}</span>
            </a>
        </li>
    </ul>

    <ul class="navigation--quick-links horizontal-flat-list"
        [class.navigation--quick-links-toggle-on]="mShowQuickLinks"
    >
        <li *ngFor="let link of quickLinks">
            <a target="_blank" [href]="link.target">
                <div class="icon" [innerHTML]="link.img">
                </div>
                <span>{{link.name}}</span>
            </a>
        </li>
    </ul>

    <button
        class="navigation--quick-links-toggle-btn"
        (click)="toggleQuickLinks()">

        <div class="icon svg-color-primary"
            *ngIf="!mShowQuickLinks"
            [innerHTML]="otherIcons.menu_open">
        </div>
        <div class="icon svg-color-primary"
            *ngIf="mShowQuickLinks"
            [innerHTML]="otherIcons.menu_close">
        </div>

    </button>

</nav>
