<nav class="bg-light">
    <ul class="navigation--pages horizontal-flat-list">
        <li>
            <page-link target="/" name="Home" [img]="images.home"></page-link>
        </li>
        <li>
            <page-link target="/about-me" name="About Me" img="#"></page-link>
        </li>
        <li>
            <page-link target="/skills" name="Skills" img="#"></page-link>
        </li>
    </ul>
    <div class="navigation--quick-links">
        <theme-switcher></theme-switcher>
    </div>
</nav>
