<nav class="bg-light"
    [class.navigation--quick-links-toggle-on]="mShowQuickLinks" >

    <!-- Main page navigation -->
    <ul class="navigation--pages horizontal-flat-list" >
        <li *ngFor="let page of pages"
            class="navigation--pages--item" >
            <a id="page-nav-link-{{page.id}}"
                routerLink="{{page.target}}"
                routerLinkActive="page-link-active svg-active-acc"
                class="svg-color-primary-on-hover"
            >
                <div class="icon" [innerHTML]="page.img">
                </div>

                <span>{{page.name}}</span>
            </a>
        </li>

        <li
            class="navigation--quick-links-toggle-btn"
        >
            <button
                (click)="toggleQuickLinks()"
                class="svg-color-primary svg-color-primary-on-hover"
            >

                <div class="icon"
                    *ngIf="!mShowQuickLinks"
                    [innerHTML]="otherIcons.menu_open">
                </div>
                <div class="icon"
                    *ngIf="mShowQuickLinks"
                    [innerHTML]="otherIcons.menu_close">
                </div>

            </button>
        </li>


    </ul>

    <!-- Quick links -->
    <ul class="navigation--quick-links horizontal-flat-list" >
        <li *ngFor="let link of quickLinks">
            <a target="_blank" [href]="link.target">
                <div class="icon" [innerHTML]="link.img">
                </div>
                <span>{{link.name}}</span>
            </a>
        </li>
    </ul>


</nav>
