<h2>CONTACT ME</h2>
<section>
    <form [formGroup]="contactForm" novalidate>
        <fieldset>
            <input name="name"  type="text"  formControlName="name"  placeholder="Name*"/>
            <input name="email" type="email" formControlName="email" placeholder="Email*"/>
        </fieldset>
        <fieldset>
            <input name="subject" type="text" formControlName="subject"  placeholder="Subject"/>
        </fieldset>
        <fieldset>
            <textarea formControlName="message" placeholder="Message*">
            </textarea>
        </fieldset>
    </form>
    <p>
        Debug: {{ contactForm.value | json }}
    </p>
    <p>
        DebugStat: {{ contactForm.status | json }}
    </p>
</section>
