// Some important variables
$borderThickness = 2px                          // The thickness of the bubble-border
$arrowLength = 20px                             // The parallel length of arrow along connection
$arrowHeight = 15px                             // The cross height of arrow, 90deg to connection side
$cornerOffsetForBottom = 3px                    // offset of the arrow from nearest corner in case of bottom
$cornerOffsetForSide = -( $borderThickness )    // offset of the arrow from nearest corner in case of sides

:host
  display: inline-block

.skill-bubble
  position: relative
  border: $borderThickness solid
  border-radius: 10px
  padding: 5px 10px

  & > span
    position: relative
    z-index: 1


/*
 Setting up pseudo arrow classes
 We are only concerned with 3 sides: left, right and bottom
*/

$arrow-base
  height: 0
  width: 0
  border-style: solid

$arrow-corner-down
  @extend $arrow-base
  border-width: $arrowHeight $arrowLength
  margin-top: -( $arrowHeight )
  border-top-color: transparent;
  border-bottom-color: transparent;
  // left or right has yet to be decided

$arrow-corner-side
  @extend $arrow-base
  border-width: $arrowLength $arrowHeight
  border-left-color: transparent;
  border-right-color: transparent;
  // top or bottom has yet to be decided

$arrow-corner-left
  @extend $arrow-corner-side
  margin-right: -( $arrowHeight )

$arrow-corner-right
  @extend $arrow-corner-side
  margin-left: -( $arrowHeight )

/*
Setting up the arrow classes

primary side selection classes : .left, .right, .down
secondary classes for .left and .right : .top, .bottom, .center
secondary classes for .down : .down-left, .down-right, .center
*/
.arrow
  // z-index: 1 // Doesn't seem to work
  &::before
    // border-color: white // todo
    content: ''
    display: block
    position: absolute
    z-index: -1

  &::after
    // border-color: black // todo
    content: ''
    display: block
    position: absolute

.arrow.down
  &::before
    top: 100%
  &::after
    top: "calc(100% - %s)" % ($borderThickness * 2)

.arrow.left
  &::before
    right: 100%
  &::after
    right: "calc(100% - %s)" % ($borderThickness * 2)

.arrow.right
  &::before
    left: 100%
  &::after
    left: "calc(100% - %s)" % ($borderThickness * 2)

.arrow.down.down-left
  &::before,
  &::after
    @extend $arrow-corner-down
    border-right-color: transparent

  &::before
    left: $cornerOffsetForBottom

  &::after
    left: ( $cornerOffsetForBottom + $borderThickness )

.arrow.down.down-right
  &::before,
  &::after
    @extend $arrow-corner-down
    border-left-color: transparent

  &::before
    right: $cornerOffsetForBottom

  &::after
    right: ( $cornerOffsetForBottom + $borderThickness )


.arrow.left.top,
.arrow.left.bottom
  &::before,
  &::after
    @extend $arrow-corner-left

.arrow.right.top,
.arrow.right.bottom
  &::before,
  &::after
    @extend $arrow-corner-right

.arrow.left.top,
.arrow.right.top
  &::before,
  &::after
    border-bottom-color: transparent

  &::before
    top: $cornerOffsetForSide

  &::after
    top: ( $cornerOffsetForSide + $borderThickness )

.arrow.left.bottom,
.arrow.right.bottom
  &::before,
  &::after
    border-top-color: transparent

  &::before
    bottom: $cornerOffsetForSide

  &::after
    bottom: ( $cornerOffsetForSide + $borderThickness )
