<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Anish George's Portfolio</title>
        <link id="theme-link" rel="stylesheet"/>
        <base href="/" />
        <script>
            window.BuildData = {
                themes: {
                    dark: '<%= htmlWebpackPlugin.files.chunks.dark_theme.css[0] %>',
                    light: '<%= htmlWebpackPlugin.files.chunks.light_theme.css[0] %>'
                }
            };
        </script>
    </head>
    <body>
        <app></app>
    </body>
</html>
